
#head{
    height: 90px;
    line-height: 80px;
    background: #fff url("../Img/download.gif") repeat-x;
    border-bottom: 2px solid #3399ff;
}
.title_l{
    font-size: 28px;
}
.logo_icon{
    position: relative;
    top: 15px;
}

.head_lf{
    height: 88px;
    /*background: #ffffff;*/
}
.copyright{
    position: relative;
    top: 50px;
    height: 38px;
    line-height: 38px;
    padding: 0 20px 0 35px;
    background: transparent url("../Img/u1853.png") no-repeat 0 1px;
    color: #ffffff;
}
.nav{
    padding: 0 20px;
    background-color: #ffffff;
    border-bottom: 2px solid #3399ff;
}
.nav > .nav_item1{
    float: left;
    width: 120px;
    height: 35px;
    display: block;
    text-align: center;
    line-height: 35px;
    cursor: pointer;
    transition: .5s all;
}
.nav_item1:hover{
    background: #3399ff;
}

.nav_item1:hover span{
    color: #fff;
}
.nav_item1 > .nav2{
    transition: .5s all;
    display: none;
    padding-top: 5px;
}

.nav2 > .nav_item2{
    border-bottom: 1px dotted #fff;
    background: #3399ff;
    color: #fff;
}

.nav2 > .nav_item2.item_last{
    border-bottom: 0;
}

.nav2 > .nav_item2:hover{
    background: #9ed7ff;
}